/*
 * styleing for the ACE IDE
 */

* {
  box-sizing: border-box;
}

html,
body {
  padding: 2px;
  height: 100%;
  background-color: #AAAAAA;
  box-sizing: border-box;
}

.ace_editor {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1000px;
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  snapOffset: 0;
}

.top {
  position:relative;
}

.log {
  position:relative;
}

.content {
  border: 1px solid #C0C0C0;
  box-shadow: inset 0 1px 2px #e4e4e4;
  background-color: #fff;
}

.gutter {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 75%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

.button {
  background-color: #652F8F; /* Blinka purple */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
}

.button-right {
  float:right; /* move right */
  background-color: #652F8F; /* Blinka purple */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
}

.input-button {
  display: inline-block;
  background-color: #652F8F; 
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
}

.image-button {
  display: inline-block;
  background-color: #FFFFFF;
  border: none;
  color: white;
  padding: 7px 10px;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  float:left;
  margin-right:0.5em;
  outline: none;
}

input[type="file"] {
  display: none;
}

.separator {
  content: '';
  display: inline-block;
  background: #888;
  margin: 0px 4px;
  height: 18px;
  width: 1px;
}

.repl-textarea {
  height: 100%;
  width: 100%;
  font-size: 18px;
  outline-width: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  color: #444;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  overflow: hidden;
}

body {
  align-content: stretch;
  align-items: stretch;
  background: #ececec;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

/**
 * Header
 */

.header {
  align-content: center;
  align-items: stretch;
  background: #3f51b5;
  box-shadow:
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 2px 9px 1px rgba(0, 0, 0, 0.12),
    0 4px 2px -2px rgba(0, 0, 0, 0.2);
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 20px;
  height: 56px;
  justify-content: flex-start;
  padding: 16px 16px 0 16px;
  position: fixed;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  width: 100%;
  will-change: transform;
  z-index: 1000;
}

.header h1 {
  flex: 1;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

/**
 * Main body
 */

.main {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 70px;
  padding-left: 1em;
  padding-right: 1em;
}

.hidden {
  display: none;
}

#notSupported {
  padding: 1em;
  background-color: red;
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
}

#microbit {
  display: flex;
}

.mb-button {
  align-self: center;
  background-color: #666;
  border-radius: 100%;
  box-shadow:
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 2px 9px 1px rgba(0, 0, 0, 0.12),
    0 4px 2px -2px rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 30px;
  
}

.mb-matrix {
  margin-left: 10px;
  margin-right: 10px;
}

.pressed {
  background-color: #D81B60;  
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}